# CMake / Build outputs
build/
build_win/
build_mac/
build_new/
cmake-build-*/
out/

# Visual Studio / MSVC
.vs/
*.vcxproj.user
*.suo
*.user
*.sln.docstates

# Xcode / macOS
*.xcodeproj/
*.xcworkspace/
.DS_Store


# Binary artifacts
*.vst3
*.component
*.exe
*.dll
*.dylib
